* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: gray;
    width: 360px;
    height: auto;
    margin: 6rem auto;
    padding: 1.5rem;
    border-radius: 12px;
}

.display {
    background-color: rgb(166, 236, 35);
    min-height: 3.65rem;
    padding: .65rem;
    border-radius: 8px;
    text-align: right;
    font-size: 2rem;
}

.buttonsLine {
    margin-block: 16px;
    display: flex;
    gap: 1rem;
    height: 4.5rem;
}

.empty {
    flex: 1;
}

button {
    flex: 1;
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 2.5rem;
    cursor: pointer;
    box-shadow: 1px 1px black;
}